#include "exosnap_resource.h"

IDI_EXOSNAP_APP_ICON            ICON "assets/brand/exosnap-app.ico"

IDI_EXOSNAP_THUMB_RECORD        ICON "assets/brand/exosnap-thumb-record.ico"
IDI_EXOSNAP_THUMB_PAUSE         ICON "assets/brand/exosnap-thumb-pause.ico"
IDI_EXOSNAP_THUMB_RESUME        ICON "assets/brand/exosnap-thumb-resume.ico"
IDI_EXOSNAP_THUMB_STOP          ICON "assets/brand/exosnap-thumb-stop.ico"
